.header {
    margin-top: 20px;
    .container-header{
        @extend %d-between;
        @include width-and-height(90%, 80px);
        margin: 0 auto;
        .nav{
            width: 40%;
            li{
                @extend %d-evenly;
                .link{
                    text-decoration: none;
                    color: $very-dark-violet;
                    &:first-child{
                        font: {
                            size: 1.6rem;
                            weight: 700;
                        }
                    }
                }
            }
        }
        .group-btn{
            @extend %d-baseline;
            @include width-and-height(20%, 50%);

            .btn{
                @extend %btn;
                @include width-and-height(40%, 100%);
                background-color: transparent;
                color: $grayish-violet;
                &:last-child {
                    background-color: $cyan;
                    color: #fff;
                }
            }
        }
    }
}